@import "helpers";
@import "compass";


// The container holding the progress bar
div.upload-container {
    width: 30%;
    height: 100%;

    // Customise the data to be displayed in the circle
    div.circle-content {

        // Work pending (waiting to perform action)
        div.work {
            display:none;

            &.pending {
                display:block;
                top: 0;
                left: 0;
                border-color: $red;  // Same as div.circle
                border-style: dashed;

                -webkit-animation-duration: 3s;
                -webkit-animation-name: spinners;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                -moz-animation-duration: 3s;
                -moz-animation-name: spinners;
                -moz-animation-timing-function: linear;
                -moz-animation-iteration-count: infinite;
                -ms-animation-duration: 3s;
                -ms-animation-name: spinners;
                -ms-animation-timing-function: linear;
                -ms-animation-iteration-count: infinite;
                -o-animation-duration: 3s;
                -o-animation-name: spinners;
                -o-animation-timing-function: linear;
                -o-animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-name: spinners;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        p {
            font-family: 'Oswald';
            text-transform: uppercase;
            font-size: 0.075em;
            font-weight: 300;
            margin: 0;
            color: $white;
            text-align: center;
        }

        /*.waiting {
            background: url(../images/upload.svg) no-repeat top center;
            background-size: contain;
        }*/
        .uploading { 
            font-size: 3.5em;
        }
    }
}

.ng-cloak, .hide {
    display: none;
}

@-webkit-keyframes spinners {
  from {
    -webkit-transform:rotate(0deg);
  }
 
  to {
    -webkit-transform:rotate(360deg);
  }
}
@-moz-keyframes spinners {
  from {
    -moz-transform:rotate(0deg);
  }
 
  to {
    -moz-transform:rotate(360deg);
  }
}
@-ms-keyframes spinners {
  from {
    -ms-transform:rotate(0deg);
  }
 
  to {
    -ms-transform:rotate(360deg);
  }
}
@-o-keyframes spinners {
  from {
    -o-transform:rotate(0deg);
  }
 
  to {
    -o-transform:rotate(360deg);
  }
}
@keyframes spinners {
  from {
    transform:rotate(0deg);
  }
 
  to {
    transform:rotate(360deg);
  }
}


