<div class="condo-uploads-wrapper" upload-main co-uploads>

	<div class="condo-file-selection">

		<div class="condo-options">
			<table>
				<tr>
					<td>
						<div class="btn select-files">
							<form>
								<span>Select files</span>
								<input type="file" multiple />
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="dropdown">
							<li class="dropdown">
								<a class="btn dropdown-toggle" href="#">Options</a>
								<ul class="dropdown-menu">
									<li><label class="checkbox"><input data-ng-model="autostart" type="checkbox"> Autostart</label></li>
									<li><label class="checkbox"><input data-ng-model="ignore_errors" type="checkbox"> Ignore Errors</label></li>
									<li><label class="checkbox"><input data-ng-model="remove_completed" type="checkbox"> Remove Completed</label></li>
									<li><input data-ng-model="parallelism" id="parallelism_{{$id}}" type="number" step="1" min="1" max="5" /> <label for="parallelism_{{$id}}">Simultaneous</label></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>

		<h1>Cloud File Uploads</h1>

		<div class="upload-container">
			<orbicular progress="selected.upload.progress" total="selected.size">
				<div class="co-circle work" ng-class="{pending: circle_style.pending}"></div>
				<div ng-class="{hide: selected, waiting: !selected}">
					<img src="/images/upload.svg" alt="dnd upload" />
					<p>Drag & Drop</p>
					<p>to Upload</p>
				</div>
				<div ng-class="{hide: !circle_style.paused, paused: !circle_style.paused}">
					<p>Paused<span ng-class="{hide: !circle_style.error}"> due to error</span></p>
					<p>to Upload</p>
				</div>
				<div ng-class="{hide: !circle_style.uploading, uploading: circle_style.uploading}">
					<p>{{prettyProgress()}}%</p>
				</div>
			</orbicular>
		</div>
	</div>
	<div class="condo-uploads-container">
		<div class="condo-uploads">		<!-- NOTE:: Controller Name: UploadsCtrl -->
		<div list>
			<div class="condo-upload ng-cloak" co-upload ng-repeat="file in files">
				<div class="description">
					<table>
						<tr>
							<td class="icon image"></td>
							<td class="name">{{file.dir_path}}{{file.name}}</td>
						</tr>
					</table>
				</div>
				<div class="stats">
					<table>
						<tr>
							<td class="controls image" ng-class="{'paused':paused, 'uploading':!paused}" ng-click="playpause(file)"></td>
							<td class="progressbar">
								<div class="progressbar" role="progressbar" aria-live="polite" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
									<div class="bar" ng-style="{ 'width': progress + '%' }" ></div>
									<div class="message">
										{{file.message}}
									</div>
								</div>
							</td>
							<td class="size">{{size}}</td>
							<td ng-click="animate_remove(file, 900)" class="abort image"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>